@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Configuration de base pour la 3D */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Important pour éviter les scrollbars parasites */
  background-color: #f0f0f0; /* Couleur de fond par défaut */
}


.cursor-dot {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s, height 0.2s, background-color 0.2s;
  z-index: 9999;
  mix-blend-mode: difference; /* Pour qu'on le voie sur fond noir et blanc */
  background-color: transparent;
}
body:hover .cursor-dot {
    opacity: 1;
}
